<form #form="ngForm" (ngSubmit)="onClick(fault)">
  <label for="name">Fault Name :</label>
  <input type="text" [(ngModel)]="fault.name" name="name" />
  <label for="description">Fault Description :</label>
  <textarea
    [(ngModel)]="fault.description"
    name="description"
    rows="10"
  ></textarea>
  <label for="engine">Fault Engine :</label>
  <input type="text" [(ngModel)]="fault.engine" name="engine" />
  <app-button
    [text]="buttonText"
    [type]="'submit'"
    [isDisabled]="!form.valid"
  ></app-button>
</form>
<p>Model : {{ fault | json }}</p>
<p>Form : {{ form.value | json }}</p>
