<div class="form-container">
  <h2 *ngIf="!isAddMode">Modify Fault</h2>
  <h2 *ngIf="isAddMode">Add Fault</h2>
  <form [formGroup]="faultForm" (ngSubmit)="onSubmit()">
    <label for="name">Fault Name :</label>
    <input *ngIf="!isAddMode" type="text" name="name" formControlName="name" />
    <input *ngIf="isAddMode" type="text" name="name" formControlName="name" />
    <span
      *ngIf="
        faultForm.get('name')?.invalid &&
        (faultForm.get('name')?.dirty ||
          faultForm.get('name')?.touched ||
          isSubmited)
      "
      class="error"
      >The fault name is required</span
    >
    <label for="description">Fault Description :</label>
    <textarea
      *ngIf="!isAddMode"
      name="description"
      rows="10"
      formControlName="description"
    ></textarea>
    <textarea
      *ngIf="isAddMode"
      name="description"
      rows="10"
      formControlName="description"
    ></textarea
    ><span
      *ngIf="
        faultForm.get('name')?.invalid &&
        (faultForm.get('name')?.dirty ||
          faultForm.get('name')?.touched ||
          isSubmited)
      "
      class="error"
      >Description is required</span
    >
    <label for="engine">Fault Engine :</label>
    <input
      *ngIf="!isAddMode"
      type="text"
      name="engine"
      formControlName="engine"
    />
    <input
      *ngIf="isAddMode"
      type="text"
      name="engine"
      formControlName="engine"
    />
    <span
      *ngIf="
        faultForm.get('name')?.invalid &&
        (faultForm.get('name')?.dirty ||
          faultForm.get('name')?.touched ||
          isSubmited)
      "
      class="error"
      >The engine name is required</span
    >
    <app-button
      [text]="buttonText"
      [type]="'submit'"
      [isDisabled]="!faultForm.valid"
    ></app-button>
  </form>
  <!-- <p>Model : {{ fault | json }}</p>
  <p>Form : {{ faultForm.value | json }}</p>
  <p>Status : {{ faultForm.status | json }}</p> -->
</div>
